In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pkg_resources 
from tdev2.readers.gold_reader import *
from tdev2.readers.disc_reader import *

In [3]:
from tdev2.measures.ned import *
from tdev2.measures.boundary import *
from tdev2.measures.grouping import *
from tdev2.measures.coverage import *
from tdev2.measures.token_type import *

In [4]:
def prf2dict(dct, measurename, obj):
    # save precision-recall-f of tde objects to dictionary
    dct[measurename + '_P'] = obj.precision
    dct[measurename + '_R'] = obj.recall
    dct[measurename + '_F'] = obj.fscore
    
    return dct


def compute_scores(gold, disc, measures=[]):
    scores = dict()
    
    # Launch evaluation of each metric
    if len(measures) == 0 or "boundary" in measures:
        print('Computing Boundary...')
        boundary = Boundary(gold, disc)
        boundary.compute_boundary()
        scores = prf2dict(scores, 'boundary', boundary)
        
    if len(measures) == 0 or "grouping" in measures:
        print('Computing Grouping...')
        grouping = Grouping(disc)
        grouping.compute_grouping()
        scores = prf2dict(scores, 'grouping', grouping)    
        
    if len(measures) == 0 or "token/type" in measures:
        print('Computing Token and Type...')
        token_type = TokenType(gold, disc)
        token_type.compute_token_type()
        scores['token_P'],scores['token_R'],scores['token_F'] = token_type.precision[0], token_type.recall[0], token_type.fscore[0]
        scores['type_P'],scores['type_R'],scores['type_F'] = token_type.precision[1], token_type.recall[1], token_type.fscore[1]        
        
    if len(measures) == 0 or "coverage" in measures:
        print('Computing Coverage...')
        coverage = Coverage(gold, disc)
        coverage.compute_coverage()
        scores['coverage'] = coverage.coverage

        
    if len(measures) == 0 or "coverageNS" in measures:
        print('Computing Coverage No Single...')
        coverage = Coverage_NoSingleton(gold, disc)
        coverage.compute_coverage()
        scores['coverageNS'] = coverage.coverage

        
    if len(measures) == 0 or "ned" in measures:
        print('Computing NED...')
        ned = Ned(disc)
        ned.compute_ned()
        scores['ned'] = ned.ned
        
        
    
    return scores

In [5]:
os.chdir('build/lib/')

In [6]:
os.chdir('../../')

In [26]:
import sys
sys.path.append('/home/korhan/Dropbox/tez_scripts/')
from tdev2.utils import zrexp2tde, sdtw2tde, narrow_gold, read_config

wrd_path = 'tdev2/share/phoenix.wrd'
phn_path = 'tdev2/share/phoenix.phn'
cnf_path = 'config.json'

# read_config(cnf_path)

# exp_path = '/home/korhan/Desktop/zerospeech2017/track2/src/ZRTools/exp/'
# exp_path = '/home/korhan/Desktop/tez/sdtw_exps/sdtw_pairs_A_0_341_c3right_PCA_Wh_diag_olapFalse_w8_L2_extend_r0.3_diag_thr0.7_loss_funceuclid_end_cut0/postpairwise_cost0.001_olap0.25/'
exp_path = '/home/korhan/Desktop/tez/zr_exps/zr_mDGS_r_c3r_PCA40_Wh_rhothr0.3_T0.5_D10_dx18_dy9_medthr0.4_Tscore0.5_R12_castthr8_trimthr1.25_B50_P8/postpairwise_cost0.0006181300604703248_olap0.25//'

disc_clsfile = sdtw2tde(exp_path)

print(disc_clsfile)

/home/korhan/Desktop/tez/zr_exps/zr_mDGS_r_c3r_PCA40_Wh_rhothr0.3_T0.5_D10_dx18_dy9_medthr0.4_Tscore0.5_R12_castthr8_trimthr1.25_B50_P8/postpairwise_cost0.0006181300604703248_olap0.25//master_graph.class

In [24]:
from tdev2.eval_sign import try_compute_scores

In [31]:
kwargs = {
#     'config_file' : 'config.json',
    'config_file' : '/home/korhan/Dropbox/config/config_mdgs.json',
         'njobs': 1}

In [126]:
exp_path = '/home/korhan/Desktop/tez/zr_exps/zr_mDGS_r_c3r_PCA40_Wh_rhothr0.3_T0.5_D10_dx18_dy9_medthr0.4_Tscore0.5_R12_castthr8_trimthr1.25_B50_P8/postpairwise_cost0.010509214885954384_olap0.25/'
disc_clsfile = sdtw2tde(exp_path)

wrd_path = 'tdev2/share/mdgsClean_both.wrd'
phn_path = 'tdev2/share/mdgsClean_both.phn'

In [127]:
# read_config(cnf_path)
gold = Gold(wrd_path=wrd_path, phn_path=phn_path, **kwargs) 
disc = Disc(disc_clsfile, gold)

*** Config file read, ovth 100.0 ***
/home/korhan/Dropbox/config/config_mdgs.json
Discovered Class file read

966 unique intervals, 494 clusters with 971 nodes found

In [128]:
try_compute_scores(gold, disc, measures=[], **kwargs)

Computing Boundary...
Computing Grouping...
Number of grouping jobs: 1
Computing Token and Type...
Computing Coverage...
Computing Coverage...
Computing Coverage No Single...
*** Config file read, ovth 100.0 ***
Computing NED...

{'boundary_P': 1.0,
 'boundary_R': 0.0222,
 'boundary_F': 0.0435,
 'n_clus': 494,
 'n_node': 971,
 'grouping_P': 0.0221,
 'grouping_R': 0.2239,
 'grouping_F': 0.0401,
 'token_P': 0.0704,
 'token_R': 0.003,
 'token_F': 0.0058,
 'type_P': 0.046,
 'type_R': 0.0093,
 'type_F': 0.0154,
 'coverage': 0.046,
 'coverageNS': 0.0456,
 'coverageNS_f': 0.029,
 'ned': 0.8644}

In [46]:
disc_clsfile

'/home/korhan/Desktop/tez/zr_exps/zr_mDGS_r_c3r_PCA40_Wh_rhothr0.3_T0.5_D10_dx18_dy9_medthr0.4_Tscore0.5_R12_castthr8_trimthr1.25_B50_P8/postpairwise_cost0.0006181300604703248_olap0.25//master_graph.class'

In [25]:
scores = compute_scores(gold, disc)
scores['n_clus'] = len(disc.clusters)
scores['n_node'] = len(disc.intervals)
scores

Computing Boundary...
Computing Grouping...
Number of grouping jobs: 1
Computing Token and Type...
Computing Coverage...
Computing Coverage No Single...
Computing NED...

{'boundary_P': 0.5131578947368421,
 'boundary_R': 0.005875086619866831,
 'boundary_F': 0.011594830287040826,
 'grouping_P': 0.5307443365695792,
 'grouping_R': 0.45054945054945056,
 'grouping_F': 0.48687383012976415,
 'token_P': 0.20609579100145137,
 'token_R': 0.0023389501078881917,
 'token_F': 0.004625407166123778,
 'type_P': 0.4444444444444444,
 'type_R': 0.02924451665312754,
 'type_F': 0.054878048780487805,
 'coverage': 0.005818596691386195,
 'coverageNS': 0.006113361801525603,
 'ned': 0.5161290322580645,
 'n_clus': 521,
 'n_node': 689}

### save disc intervals and clusters

In [47]:
disc.clusters

{'1': [('1420216_B_both_208220_210800',
   1.0,
   80.0,
   ((0.0, 6.0, 'ICH1'),
    (15.0, 21.0, '$NUM-EINER1A:1d'),
    (29.0, 38.0, 'RASIEREN2'),
    (39.0, 44.0, 'ICH1'),
    (58.0, 62.0, 'VOR1G'),
    (69.0, 75.0, '$NUM-EINER1A:1d')),
   ('ICH1',
    '$NUM-EINER1A:1d',
    'RASIEREN2',
    'ICH1',
    'VOR1G',
    '$NUM-EINER1A:1d')),
  ('1420216_B_both_208220_210800',
   50.0,
   128.0,
   ((58.0, 62.0, 'VOR1G'),
    (69.0, 75.0, '$NUM-EINER1A:1d'),
    (83.0, 91.0, 'RASIEREN2'),
    (96.0, 98.0, 'ICH1'),
    (107.0, 114.0, 'KLEIN3'),
    (121.0, 129.0, '$GEST-OFF')),
   ('VOR1G', '$NUM-EINER1A:1d', 'RASIEREN2', 'ICH1', 'KLEIN3', '$GEST-OFF'))],
 '2': [('1184756_A_both_283520_285920',
   0.0,
   71.0,
   ((0.0, 4.0, 'GUT1'), (27.0, 36.0, 'SCHÖN1A'), (41.0, 120.0, 'SEHR-VIEL1')),
   ('GUT1', 'SCHÖN1A', 'SEHR-VIEL1')),
  ('1184756_A_both_283520_285920',
   50.0,
   119.0,
   ((41.0, 120.0, 'SEHR-VIEL1'),),
   ('SEHR-VIEL1',))],
 '3': [('1419931_B_both_187880_189900',
   1.0,
   52.0,
   ((0.0, 101.0, '$GEST-NM-KOPFNICKEN1'),),
   ('$GEST-NM-KOPFNICKEN1',)),
  ('1419931_B_both_187880_189900',
   50.0,
   100.0,
   ((0.0, 101.0, '$GEST-NM-KOPFNICKEN1'),),
   ('$GEST-NM-KOPFNICKEN1',))],
 '4': [('1184756_B_both_837440_897560',
   1804.0,
   2172.0,
   ((1817.0, 1825.0, 'LASSEN1'),
    (1835.0, 1846.0, 'BRAUCHEN-NICHT1'),
    (1855.0, 1862.0, 'FERTIG1B'),
    (1868.0, 1873.0, '$GEST'),
    (1885.0, 1887.0, 'NUR2B'),
    (1891.0, 1895.0, 'NOCH4B'),
    (1909.0, 1914.0, '$NUM-EINER1A:2'),
    (1918.0, 1927.0, 'KOMMEND2'),
    (1939.0, 1946.0, 'FERTIG2'),
    (1956.0, 1967.0, 'VORBEI4'),
    (1981.0, 1994.0, 'DANN1A'),
    (2013.0, 2035.0, 'WEITER1B'),
    (2038.0, 2048.0, 'WEG-FORT1'),
    (2056.0, 2064.0, '$NAME'),
    (2070.0, 2083.0, '$GEST-ÜBERLEGEN1'),
    (2119.0, 2123.0, 'MEIN1'),
    (2129.0, 2135.0, 'SCHATZ1'),
    (2136.0, 2142.0, 'TAG-VOR1A'),
    (2149.0, 2162.0, 'GEBURTSTAG5')),
   ('LASSEN1',
    'BRAUCHEN-NICHT1',
    'FERTIG1B',
    '$GEST',
    'NUR2B',
    'NOCH4B',
    '$NUM-EINER1A:2',
    'KOMMEND2',
    'FERTIG2',
    'VORBEI4',
    'DANN1A',
    'WEITER1B',
    'WEG-FORT1',
    '$NAME',
    '$GEST-ÜBERLEGEN1',
    'MEIN1',
    'SCHATZ1',
    'TAG-VOR1A',
    'GEBURTSTAG5')),
  ('1184756_B_both_914080_935880',
   300.0,
   644.0,
   ((312.0, 322.0, 'THEMA1'),
    (333.0, 345.0, 'TIER1A'),
    (354.0, 372.0, 'ANZIEHEN-OBERKÖRPER1A'),
    (382.0, 392.0, 'SOLL1'),
    (400.0, 405.0, 'ICH1'),
    (417.0, 428.0, 'BESTELLEN1A'),
    (442.0, 447.0, 'EIS2'),
    (458.0, 470.0, 'BÄR2'),
    (489.0, 497.0, '$PROD'),
    (515.0, 525.0, 'FAN2'),
    (548.0, 555.0, '$PROD'),
    (566.0, 570.0, 'MIT1A'),
    (590.0, 616.0, 'KLEIDUNG3'),
    (625.0, 635.0, 'DAZU1')),
   ('THEMA1',
    'TIER1A',
    'ANZIEHEN-OBERKÖRPER1A',
    'SOLL1',
    'ICH1',
    'BESTELLEN1A',
    'EIS2',
    'BÄR2',
    '$PROD',
    'FAN2',
    '$PROD',
    'MIT1A',
    'KLEIDUNG3',
    'DAZU1'))],
 '5': [('1184756_B_both_155020_292700',
   6514.0,
   6683.0,
   ((6530.0, 6541.0, 'BAUCHSCHMERZEN1'),
    (6556.0, 6557.0, 'ICH1'),
    (6564.0, 6571.0, 'SCHAUEN2'),
    (6580.0, 6587.0, 'NICHT3B'),
    (6587.0, 6594.0, 'SCHLECHT1'),
    (6604.0, 6609.0, 'KULTUR1A'),
    (6616.0, 6618.0, '$INDEX1'),
    (6628.0, 6640.0, 'ANDERS6'),
    (6651.0, 6653.0, 'ICH1'),
    (6666.0, 6671.0, 'NICHT3A'),
    (6680.0, 6686.0, 'SO1')),
   ('BAUCHSCHMERZEN1',
    'ICH1',
    'SCHAUEN2',
    'NICHT3B',
    'SCHLECHT1',
    'KULTUR1A',
    '$INDEX1',
    'ANDERS6',
    'ICH1',
    'NICHT3A',
    'SO1')),
  ('1184756_B_both_560_4080',
   1.0,
   165.0,
   ((0.0, 2.0, 'THEMA1'),
    (5.0, 10.0, 'ANFANG1A'),
    (15.0, 19.0, '$GEST-OFF'),
    (33.0, 44.0, 'VERNUNFT1'),
    (55.0, 57.0, '$INDEX2'),
    (81.0, 87.0, '$GEST-AUFMERKSAMKEIT1'),
    (93.0, 101.0, 'URLAUB8B'),
    (111.0, 115.0, 'DIESE2'),
    (120.0, 130.0, 'JAHR2B'),
    (139.0, 146.0, 'NEIN1A')),
   ('THEMA1',
    'ANFANG1A',
    '$GEST-OFF',
    'VERNUNFT1',
    '$INDEX2',
    '$GEST-AUFMERKSAMKEIT1',
    'URLAUB8B',
    'DIESE2',
    'JAHR2B',
    'NEIN1A'))],
 '6': [('1184756_B_both_155020_292700',
   2672.0,
   2942.0,
   ((2685.0, 2703.0, 'ODER1'),
    (2711.0, 2727.0, '$GEST-ÜBERLEGEN1'),
    (2736.0, 2742.0, 'KUGEL1B'),
    (2744.0, 2749.0, '$GEST-ÜBERLEGEN1'),
    (2770.0, 2852.0, '$ALPHA1:Y-I-N-G-Y-A-N-G'),
    (2864.0, 2879.0, '$PROD'),
    (2891.0, 2900.0, 'KUGEL1B'),
    (2919.0, 2928.0, 'RUND-KUGEL2')),
   ('ODER1',
    '$GEST-ÜBERLEGEN1',
    'KUGEL1B',
    '$GEST-ÜBERLEGEN1',
    '$ALPHA1:Y-I-N-G-Y-A-N-G',
    '$PROD',
    'KUGEL1B',
    'RUND-KUGEL2')),
  ('1184756_B_both_155020_292700',
   3448.0,
   3716.0,
   ((3454.0, 3465.0, 'BESETZT1A'),
    (3475.0, 3479.0, 'SCHON1A'),
    (3485.0, 3487.0, '$INDEX1'),
    (3493.0, 3498.0, 'KANN2A'),
    (3506.0, 3520.0, 'KOCHEN3A'),
    (3528.0, 3536.0, 'BESSER1'),
    (3548.0, 3562.0, 'SALAT3'),
    (3575.0, 3582.0, 'BUFFET1'),
    (3605.0, 3608.0, 'ANFÜHRUNGSZEICHEN1'),
    (3616.0, 3622.0, 'KARTOFFEL3A'),
    (3630.0, 3633.0, 'SALAT3'),
    (3645.0, 3660.0, 'NEBEN1A'),
    (3667.0, 3672.0, 'SALAT3'),
    (3679.0, 3682.0, 'BEREICH1A'),
    (3693.0, 3698.0, 'UND2A'),
    (3709.0, 3720.0, 'FLEISCH1B')),
   ('BESETZT1A',
    'SCHON1A',
    '$INDEX1',
    'KANN2A',
    'KOCHEN3A',
    'BESSER1',
    'SALAT3',
    'BUFFET1',
    'ANFÜHRUNGSZEICHEN1',
    'KARTOFFEL3A',
    'SALAT3',
    'NEBEN1A',
    'SALAT3',
    'BEREICH1A',
    'UND2A',
    'FLEISCH1B'))],
 '7': [('1184756_B_both_155020_292700',
   2525.0,
   2735.0,
   ((2536.0, 2573.0, '$PROD'),
    (2578.0, 2584.0, 'MIT1A'),
    (2606.0, 2617.0, '$PROD'),
    (2633.0, 2644.0, 'VERSCHIEDEN1'),
    (2664.0, 2674.0, 'KREUZ1B'),
    (2685.0, 2703.0, 'ODER1'),
    (2711.0, 2727.0, '$GEST-ÜBERLEGEN1')),
   ('$PROD',
    'MIT1A',
    '$PROD',
    'VERSCHIEDEN1',
    'KREUZ1B',
    'ODER1',
    '$GEST-ÜBERLEGEN1')),
  ('1184756_B_both_155020_292700',
   2701.0,
   2911.0,
   ((2711.0, 2727.0, '$GEST-ÜBERLEGEN1'),
    (2736.0, 2742.0, 'KUGEL1B'),
    (2744.0, 2749.0, '$GEST-ÜBERLEGEN1'),
    (2770.0, 2852.0, '$ALPHA1:Y-I-N-G-Y-A-N-G'),
    (2864.0, 2879.0, '$PROD'),
    (2891.0, 2900.0, 'KUGEL1B')),
   ('$GEST-ÜBERLEGEN1',
    'KUGEL1B',
    '$GEST-ÜBERLEGEN1',
    '$ALPHA1:Y-I-N-G-Y-A-N-G',
    '$PROD',
    'KUGEL1B'))],
 '8': [('1184756_B_both_155020_292700',
   2703.0,
   2958.0,
   ((2711.0, 2727.0, '$GEST-ÜBERLEGEN1'),
    (2736.0, 2742.0, 'KUGEL1B'),
    (2744.0, 2749.0, '$GEST-ÜBERLEGEN1'),
    (2770.0, 2852.0, '$ALPHA1:Y-I-N-G-Y-A-N-G'),
    (2864.0, 2879.0, '$PROD'),
    (2891.0, 2900.0, 'KUGEL1B'),
    (2919.0, 2928.0, 'RUND-KUGEL2'),
    (2946.0, 2973.0, 'KUGEL1B')),
   ('$GEST-ÜBERLEGEN1',
    'KUGEL1B',
    '$GEST-ÜBERLEGEN1',
    '$ALPHA1:Y-I-N-G-Y-A-N-G',
    '$PROD',
    'KUGEL1B',
    'RUND-KUGEL2',
    'KUGEL1B')),
  ('1184756_B_both_155020_292700',
   3231.0,
   3507.0,
   ((3241.0, 3252.0, 'ESSEN1'),
    (3263.0, 3276.0, 'TOLL1A'),
    (3287.0, 3289.0, '$NUM-EINER1A:4'),
    (3298.0, 3300.0, 'MÄDCHEN4'),
    (3308.0, 3322.0, '$LIST1:3of4'),
    (3330.0, 3332.0, '$NUM-EINER1A:1d'),
    (3337.0, 3340.0, '$LIST1:3of4'),
    (3348.0, 3351.0, 'SEIN-IHR1'),
    (3359.0, 3372.0, 'VATER1'),
    (3379.0, 3390.0, 'RESTAURANT1'),
    (3393.0, 3400.0, 'ANFÜHRUNGSZEICHEN2'),
    (3404.0, 3420.0, 'BESETZT1A'),
    (3426.0, 3429.0, '$INDEX1'),
    (3439.0, 3448.0, 'RESTAURANT1'),
    (3454.0, 3465.0, 'BESETZT1A'),
    (3475.0, 3479.0, 'SCHON1A'),
    (3485.0, 3487.0, '$INDEX1'),
    (3493.0, 3498.0, 'KANN2A')),
   ('ESSEN1',
    'TOLL1A',
    '$NUM-EINER1A:4',
    'MÄDCHEN4',
    '$LIST1:3of4',
    '$NUM-EINER1A:1d',
    '$LIST1:3of4',
    'SEIN-IHR1',
    'VATER1',
    'RESTAURANT1',
    'ANFÜHRUNGSZEICHEN2',
    'BESETZT1A',
    '$INDEX1',
    'RESTAURANT1',
    'BESETZT1A',
    'SCHON1A',
    '$INDEX1',
    'KANN2A'))],
 '9': [('1184756_B_both_155020_292700',
   2477.0,
   2739.0,
   ((2474.0, 2489.0, 'UNGEFÄHR1'),
    (2510.0, 2513.0, '$PROD'),
    (2536.0, 2573.0, '$PROD'),
    (2578.0, 2584.0, 'MIT1A'),
    (2606.0, 2617.0, '$PROD'),
    (2633.0, 2644.0, 'VERSCHIEDEN1'),
    (2664.0, 2674.0, 'KREUZ1B'),
    (2685.0, 2703.0, 'ODER1'),
    (2711.0, 2727.0, '$GEST-ÜBERLEGEN1'),
    (2736.0, 2742.0, 'KUGEL1B')),
   ('UNGEFÄHR1',
    '$PROD',
    '$PROD',
    'MIT1A',
    '$PROD',
    'VERSCHIEDEN1',
    'KREUZ1B',
    'ODER1',
    '$GEST-ÜBERLEGEN1',
    'KUGEL1B')),
  ('1184756_B_both_155020_292700',
   3314.0,
   3589.0,
   ((3308.0, 3322.0, '$LIST1:3of4'),
    (3330.0, 3332.0, '$NUM-EINER1A:1d'),
    (3337.0, 3340.0, '$LIST1:3of4'),
    (3348.0, 3351.0, 'SEIN-IHR1'),
    (3359.0, 3372.0, 'VATER1'),
    (3379.0, 3390.0, 'RESTAURANT1'),
    (3393.0, 3400.0, 'ANFÜHRUNGSZEICHEN2'),
    (3404.0, 3420.0, 'BESETZT1A'),
    (3426.0, 3429.0, '$INDEX1'),
    (3439.0, 3448.0, 'RESTAURANT1'),
    (3454.0, 3465.0, 'BESETZT1A'),
    (3475.0, 3479.0, 'SCHON1A'),
    (3485.0, 3487.0, '$INDEX1'),
    (3493.0, 3498.0, 'KANN2A'),
    (3506.0, 3520.0, 'KOCHEN3A'),
    (3528.0, 3536.0, 'BESSER1'),
    (3548.0, 3562.0, 'SALAT3'),
    (3575.0, 3582.0, 'BUFFET1')),
   ('$LIST1:3of4',
    '$NUM-EINER1A:1d',
    '$LIST1:3of4',
    'SEIN-IHR1',
    'VATER1',
    'RESTAURANT1',
    'ANFÜHRUNGSZEICHEN2',
    'BESETZT1A',
    '$INDEX1',
    'RESTAURANT1',
    'BESETZT1A',
    'SCHON1A',
    '$INDEX1',
    'KANN2A',
    'KOCHEN3A',
    'BESSER1',
    'SALAT3',
    'BUFFET1'))]}

In [39]:
import json

with open(exp_path + 'clusters_tde.json','w') as f:
    json.dump(disc.clusters, f)

### visualize clusters

In [119]:
def find_commons(labelslist):
    # labelslist: list of dicts
    common_labels = set()
    for i in range(len(labelslist)):
        for j in range(i+1,len(labelslist)):
            if '$' not in labelslist[i] and  '$' not in labelslist[j]:
                common_labels |= (labelslist[i] & labelslist[j])
    
    common_labels = list(common_labels)
    if len(common_labels) == 0:
        return 'none'
    else:
        return str(common_labels)

In [129]:
clusters = disc.clusters

all_clus = []
for cid, clus in clusters.items():
    clus_within = []
    for fname, start, end, tokens, ngram in clus:
        clus_within.append((fname,start,end,ngram))
    tmp = pd.DataFrame(clus_within, columns=['file','start','end','labels'])
    common_labels = find_commons(list(tmp.labels.apply(lambda x: set(x))))
    tmp['common_labels'] = common_labels
    tmp['cluster_id'] = cid
    tmp = tmp[['cluster_id', 'file','start','end', 'common_labels', 'labels']]
    all_clus.append(tmp)
pd.concat(all_clus)

,cluster_id,file,start,end,common_labels,labels
0,1,1420216_B_both_208220_210800,1.0,80.0,none,"(ICH1, $, RASIEREN2, ICH1, VOR1G, $)"
1,1,1420216_B_both_208220_210800,50.0,128.0,none,"(VOR1G, $, RASIEREN2, ICH1, KLEIN3, $)"
0,2,1184756_A_both_283520_285920,0.0,71.0,none,"(GUT1, SCHÖN1A)"
1,2,1184756_A_both_283520_285920,50.0,119.0,none,"(SEHR-VIEL1,)"
0,3,1419931_B_both_187880_189900,1.0,52.0,none,"($,)"
...,...,...,...,...,...,...
1,493,1184756_B_both_155020_292700,5365.0,5470.0,none,"(GLAUBEN2A, AB2, GLAUBEN2A, $, LOS-START1)"
0,494,1431690_B_both_113760_272000,2784.0,2886.0,none,"(ICH2, SEHEN1, FÜHREN1, ICH1, SEHEN-AUF1, AUF-..."
1,494,1431690_B_both_113760_272000,5314.0,5402.0,none,"($, NICHT3B)"
0,495,1184756_B_both_155020_292700,3132.0,3235.0,none,"($, SCHÖN1B, THEATER6, BEREICH1A, GUT1, $)"
1,495,1184756_B_both_155020_292700,5376.0,5457.0,none,"(AB2, GLAUBEN2A, $)"

In [130]:
alldf = pd.concat(all_clus)
alldf.loc[alldf.common_labels != 'none']

,cluster_id,file,start,end,common_labels,labels
0,75,1177918_B_both_32720_40900,1.0,84.0,['SAGEN1'],"(NEIN1A, MOMENT2, SAGEN1)"
1,75,1177918_B_both_32720_40900,56.0,139.0,['SAGEN1'],"(SAGEN1, AUCH3A, DAZU1)"
0,121,1177918_A_both_112820_172780,1.0,77.0,['JA2'],"(JA2,)"
1,121,1177918_A_both_112820_172780,56.0,132.0,['JA2'],"(JA2,)"
0,158,1184756_B_both_691540_694720,31.0,110.0,['SCHWEIZ1A'],"(SCHWEIZ1A,)"
1,158,1184756_B_both_691540_694720,80.0,158.0,['SCHWEIZ1A'],"(SCHWEIZ1A,)"
0,238,1431690_B_both_113760_272000,2787.0,2891.0,['SEHEN-AUF1'],"(SEHEN1, FÜHREN1, ICH1, SEHEN-AUF1, AUF-PERSON1)"
1,238,1431690_B_both_113760_272000,3224.0,3346.0,['SEHEN-AUF1'],"(SEHEN-AUF2, SEHR6, ARMER1, ICH2, SEHEN-AUF1, ..."
0,253,1431690_B_both_113760_272000,2784.0,2885.0,"['ICH1', 'SEHEN-AUF1']","(ICH2, SEHEN1, FÜHREN1, ICH1, SEHEN-AUF1, AUF-..."
1,253,1431690_B_both_113760_272000,2917.0,3013.0,"['ICH1', 'SEHEN-AUF1']","(ICH1, SEHEN-AUF2, ARMER1, SEHEN-AUF1)"
0,292,1431690_B_both_113760_272000,2923.0,3022.0,"['ARMER1', 'SEHEN-AUF1']","(ICH1, SEHEN-AUF2, ARMER1, SEHEN-AUF1, ICH1)"
1,292,1431690_B_both_113760_272000,3233.0,3342.0,"['ARMER1', 'SEHEN-AUF1']","(SEHR6, ARMER1, ICH2, SEHEN-AUF1, ICH2, TAUB-G..."
0,302,1178133_A_both_800_42600,617.0,690.0,['LANG-ZEIT4A'],"(LANG-ZEIT4A,)"
1,302,1178133_A_both_800_42600,664.0,736.0,['LANG-ZEIT4A'],"(LANG-ZEIT4A,)"
0,350,1432043_A_both_640_17800,741.0,822.0,['JA2'],"(JA2, LETZTE1A)"
1,350,1432043_A_both_1291620_1298960,14.0,117.0,['JA2'],"(JA2,)"
0,356,1177918_B_both_32720_40900,196.0,279.0,['HAKEN1'],"(WOLLEN-NICHT2, HAKEN1)"
1,356,1177918_B_both_32720_40900,252.0,334.0,['HAKEN1'],"(HAKEN1,)"
0,375,1177918_B_both_266840_280140,202.0,287.0,['ICH1'],"(FUSSBALL2, ICH1, SCHAUEN1, ICH1, NOCH4A)"
1,375,1177918_B_both_266840_280140,596.0,664.0,['ICH1'],"(EINIGE1, ICH1, NIEMALS2B, ICH1)"
0,411,1420216_B_both_76300_99480,600.0,686.0,['ICH1'],"(ICH1, SCHREIBEN1E)"
1,411,1420216_B_both_313000_346940,1591.0,1688.0,['ICH1'],"(ICH1,)"
0,424,1178133_A_both_112880_133640,68.0,146.0,['PAPST1'],"(PAPST1,)"
1,424,1178133_A_both_800_42600,41.0,143.0,['PAPST1'],"(PAPST1,)"
0,446,1244581_A_both_198900_220380,923.0,1028.0,['ERFAHREN1A'],"(ERFAHREN1A,)"
1,446,1244581_A_both_320_176080,8139.0,8224.0,['ERFAHREN1A'],"(ERFAHREN1A, WENIG2)"
0,449,1420216_B_both_313000_346940,1592.0,1690.0,['ICH1'],"(ICH1,)"
1,449,1420216_B_both_396920_419680,970.0,1060.0,['ICH1'],"(SEHR-VIEL1, ICH1)"
0,466,1431690_A_both_480_113460,4751.0,4842.0,"['ICH2', 'ICH1']","(ICH1, SEHEN-AUF1, ICH2, KANN1)"
1,466,1431690_A_both_480_113460,5224.0,5314.0,"['ICH2', 'ICH1']","(ICH2, SEHEN-AUF3, ICH1)"
0,475,1432043_B_both_1281600_1305880,45.0,125.0,['GRENZE1B'],"(GRENZE1B,)"
1,475,1432043_B_both_1281600_1305880,94.0,174.0,['GRENZE1B'],"(GRENZE1B,)"

In [110]:
str(common_labels)

"['SEHR-VIEL1']"

### write read config file

In [28]:
conf = {'overlap_th': 5. ,
'excluded_units' : ['SIL','__ON__','__OFF__','__EMOTION__','SPN'] ,
'discoverable_th' : 1}
conf

{'overlap_th': 5.0,
 'excluded_units': ['SIL', '__ON__', '__OFF__', '__EMOTION__', 'SPN'],
 'discoverable_th': 1}

In [29]:
import json
config_pth = 'config.json'

with open(config_pth, 'w') as f:
    json.dump(conf, f)

In [32]:
with open(config_pth, 'r') as f:
    conf = json.load(f)
    
conf['overlap_th']

5.0

In [1]:
import editdistance

In [2]:
s1 = []
s2 = ['s']
editdistance.eval(s1, s2)

1